.container {
    width: 410px;
    height: 410px;
    padding: 0;
}

.width {
    width: 150px;
}

.layout {
    float: left;
    width: 200px;
    height: 200px;
    margin: 0;
    padding: 0;
}

#red {
    border-top-left-radius: 100%;
}

#blue {
    border-top-right-radius: 100%;
}

#green {
    border-bottom-right-radius: 100%;
}

#yellow {
    border-bottom-left-radius: 100%;
}