.layout {
    border: 3px solid black;
    width: 25vw;
    height: 25vh;
    margin: 0;
    padding: 0;
}

#Big-Square {
    border: 3px solid black;
}

#red {
    border-top-left-radius: 100%;
}

#blue {
    border-bottom-left-radius: 100%;
}

#green {
    border-bottom-right-radius: 100%;
}

#yellow {
    border-top-right-radius: 100%;
}